@font-face {
  font-family: 'Mona Sans';
  font-weight: 200 900;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url('../fonts/Mona-Sans.var.woff2') format('woff2');
}

@font-face {
  font-family: 'EB Garamond';
  font-weight: 400 800;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/EBGaramond-VariableFont_wght.woff2') format('woff2');
}

@font-face {
  font-family: 'EB Garamond';
  font-weight: 400 800;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/EBGaramond-Italic-VariableFont_wght.woff2') format('woff2');
}
